*.ipynb
.idea

package-lock.json

/zadaca1/Zadatak1/MovieManagement/bin
/zadaca1/Zadatak1/MovieManagement/obj
/zadaca1/Zadatak1/DatabaseAPI/bin
/zadaca1/Zadatak1/DatabaseAPI/obj
/zadaca1/Zadatak2/app/bin
/zadaca1/Zadatak2/app/obj
/zadaca1/Zadatak2/build/fable_modules
/zadaca1/Zadatak2/node_modules

/zadaca2/node_modules
/zadaca2/build/fable_modules
/zadaca2/app/obj
/zadaca2/app/bin

/av/v6
